<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Blog</title>
</head>
<body>
<header>
    <h1><a href="/">Django Blog Post</a></h1>
</header>
<article>
    <time>Published at: 14-06-2021 ,20:08 </time>
    <h2><a href="/">Watermelon Fruit</a></h2>
    <p>This is Watermelon fruit post </p>
</article>

<article>
    <time>Published at: 14-06-2021 ,20:08 </time>
    <h2><a href="/">Mango Fruit</a></h2>
    <p>This is Mango fruit post </p>
</article>
</body>
</html>